@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap);
}

* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  color: black;
  text-decoration: none;
  word-wrap: break-word;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#000401), color-stop(35%, #2d014f), to(#e8c8f2));
  background: linear-gradient(0deg, #000401 0%, #2d014f 35%, #e8c8f2 100%);
}

.save-to-pdf {
  position: fixed;
  right: 1%;
  top: 1%;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  background-color: blueviolet;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.save-to-pdf:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  background-color: transparent;
}

.container section {
  border-radius: 5px;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2% 10%;
  background-color: white;
}

.container section img {
  width: 30%;
  border-radius: 5px;
}

.container section a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-weight: bold;
}

.container section a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: blueviolet;
}

.container section h1 {
  font-size: 2rem;
}

.container section h2 {
  font-size: 2rem;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: bold;
}

.container section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1%;
}

.container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.container .title div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container .contacts li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container .contacts li img {
  width: 40px;
  height: 40px;
}

.container .education ul li {
  width: 100%;
}

.container .education ul li div {
  width: 50%;
  text-align: left;
  margin-bottom: 1%;
}

.container .work-exp ul li {
  width: 100%;
}

.container .work-exp ul li div {
  width: 50%;
  text-align: left;
  margin-bottom: 1%;
}
/*# sourceMappingURL=styles.css.map */